section article time {
    display: inline;
}

section {
    margin: 5px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section header h1 {
    text-align: center;
}

section header h2 {
    text-align: center;
    background: #486297;
    margin-bottom: 1;
}

section article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1px;
}

section article h3 {
    grid-column: 1 / 2;
    font-size: 1.2rem;
}

section article p,
section article time {
    grid-column: 2 / 3;
}

ul {
    display: block;
    padding-left: 20px; 
}

li {
    display: list-item; 
    margin: 5px 0; /
}

html {
    color-scheme: light dark;
  }
  
nav {
    --border-color: oklch(50% 10% 200 / 40%);  /* Darker and slightly more vibrant color with transparency */
    border-bottom-color: var(--border-color);
    
}
  
  
.color-scheme {
    position: absolute;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}
  
#color-scheme-select {
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
}
  

html[data-scheme="light"] {
    --background: white;
    --text-color: black;
}
  
html[data-scheme="dark"] {
    --background: #121212;
    --text-color: white;
}
  
body {
    background-color: var(--background);
    color: var(--text-color);
    padding: 3rem;
}